<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.UserMapper">

    <!-- 根据姓名模糊查询 -->
    <select id="findUserByName" parameterType="user" resultType="user">
		select * from user where username like '%${username}%'
	</select>

    <!-- 根据ID查询 -->
    <select id="queryUserById" parameterType="int" resultType="user">
	select * from user where id=#{value}
	</select>
    <update id="updateUserById" parameterType="user">
	update user set username=#{username},birthday=#{birthday},sex=#{sex},address=#{address} where id=#{id}
	</update>
</mapper>
